html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-image: linear-gradient(to left, rgb(255, 0, 187), rgb(222, 14, 97));    
    color: white;
}
h1, h2, h3 {
    font-weight: 700;
    color: rgb(255, 166, 65);
} 
header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
header h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -2px 8px rgb(255, 0, 0);
    color: rgb(255, 166, 65);
    font-size: 2.3rem;
}
a {
    color: rgb(255, 166, 65);
}
a:visited {
    columns: rgb(221, 45, 1);
}
a:hover, a:active {
    columns: #000;
    text-decoration: none;
}
.base-bg {
    background-color: rgb(209, 4, 4);
    background-image: linear-gradient(to right, rgb(209, 4, 185), rgb(248, 50, 50));    
    color: rgb(246, 226, 218);
    padding: 1rem;
}

.mynd-bg {
    background-color: rgb(209, 4, 4);
    background-image: linear-gradient(to right, rgb(194, 104, 219),rgb(205, 46, 46), rgb(248, 50, 50));
    justify-content: center; 
}

.col-1 {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.col-2,
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
}

.col-3-myndir {
    display: block;
    grid-template-columns: 2fr 1fr ;
} 

/****** standard IMG *********/

img {
    max-width: 100%;
    height: auto;
    width: auto;
    justify-content: center;
}

figure {
    margin:0;
}

footer {
    color: rgb(255, 166, 65);
    padding: 1rem;
}
footer ul{
    list-style: none;
}
a, footer a {
    color: rgb(255, 166, 65);
}
footer a {
    line-height: 1.5;
}
footer a:visited {
    color: rgb(255, 166, 65);
}
footer a:active, .footer a:hover {
    text-decoration: none;
}
blockquote {
    background-color: rgba(0,0,0, 0.5);
    padding:1rem;
    margin: .5rem;
}
.copy {
    text-align: center;
}

.kort_link {
 text-decoration: none;   
}

.innernav {
    position: sticky;
    top: 0;
    background-image:linear-gradient(rgba(10, 58, 172, .6), rgba(66, 124, 200,.6),rgba(10, 58, 172,.6));
  }
  
  /* innri tenglar */
  .innernav a:link{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: .4rem;
    border-bottom: 1px solid white;
  }
  
  .innernav a:visited {
    color:rgb(234, 214, 185);
  }
  
  .innernav a:hover,
  .innernav a:active {
    color: orange;
  }
  @media screen and ( min-width: 37.5rem) {
    header h1 {
      font-size: 2.5rem;
      padding:  0 3rem;
    }
    .innernav {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-around;
    }
    .innernav a:link {
      border: 0;
    }
}
/* ******** 48em ********* */


@media screen and (min-width:48rem) {

    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        row-gap: 1rem;
    }
    .col-3-myndir {
        grid-template-columns: 1fr 1fr;
        gap: 0; 
    }
    header h1 {
        font-size: 4rem;
    }

   .col-1 {
        justify-content: center;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:60rem) {

    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        row-gap: 2rem;
    }    
    .col-3-myndir {
        grid-template-columns: 2fr 1fr;
    }
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap:2rem
    }
}
@media screen and (min-width:80rem) {
    body {
        font-size: 1.4rem;
    }
    .container {
        max-width: 80rem;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6rem;
    }
}

@media screen and (min-width:100rem) {
    .container {
        max-width: 90rem;
    }
}